<!DOCTYPE html>
<html lang="en">
  <head>
    <a href="/UI/registration/view">View Registrations</a>

    <title>Register</title>
    <script src="/js/registration.js" defer></script>
  </head>
  <body>
    <form id="registerForm">
      <label>Name: <input type="text" id="name" required /></label><br />
      <label>Email: <input type="email" id="email" required /></label><br />
      <label>Date: <input type="date" id="date" required /></label><br />
      <label>Event Name: <input type="text" id="eventName" required /></label
      ><br />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
